@model TiendaCartas_2.Models.IndexViewModel

@{
    ViewBag.Title = "Perfil";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Detalle de la cuenta</h4>
    <hr />
    <div class="img-circle">
        <img src="~/Images/FotoDefault.jpg" />
    </div>
    <dl class="dl-horizontal">
        <dt>Contraseña:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Cambiar la contraseña", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Crear", "SetPassword")
            }
            ]
        </dd>
    </dl>
    <dl class="dl-horizontal">
        @model TiendaCartas_2.Models.LoginViewModel
        <dt>Contraseña:</dt>
        <dd>
            [
            @if (Model.Email=="josuesoto.co@gmail.com")
            {
                @Html.ActionLink("Gestionar Productos", "")
            }
            else
            {
                @Html.ActionLink("Crear", "SetPassword")
            }
            ]
        </dd>
    </dl>
</div>
