@model IEnumerable<TiendaCartas.Models.compra>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.valor_total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipo_pago.pago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.producto.nombre_producto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuario.nombre_usuario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.valor_total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo_pago.pago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.producto.nombre_producto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuario.nombre_usuario)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_compra }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_compra }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_compra })
        </td>
    </tr>
}

</table>
