<!DOCTYPE html>

<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Health Point</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/EstiloLayout.css" rel="stylesheet" />
    <template align="center">
        <a href=@Href("~/Home/Index") />
        <img src="~/Images/Untitled.png" width="500" height="300" alt="logo">
    </template>
</head>

<body>

    <div class="navbar navbar-inverse navbar-fixed-top nav">

        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                </button>

            </div>
<!------>
            <html>

            <style>
                body {
                    font-family: "Lato", sans-serif;
                }

                .sidenav {
                    height: 100%;
                    width: 0;
                    position: fixed;
                    z-index: 9999;
                    top: 0;
                    right: 0;
                    background-color: #111;
                    overflow-x: hidden;
                    transition: 0.5s;
                    padding-top: 60px;
                }

                    .sidenav a {
                        padding: 8px 8px 8px 32px;
                        text-decoration: none;
                        font-size: 25px;
                        color: #818181;
                        display: block;
                        transition: 0.3s;
                    }

                        .sidenav a:hover, .offcanvas a:focus {
                            color: #818181;
                        }

                .closebtn {
                    position: absolute;
                    top: 0;
                    right: 25px;
                    font-size: 36px !important;
                    margin-left: 50px;
                }
            </style>
            <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
            <body>
                <div ng-app="">
                    <div id="mySidenav" class="sidenav">        
                        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                        
                        <a>Resultados: {{Search}}</a>
                    </div>
                </div>
                <script>

                    function openNav() {
                        var x = document.forms["myForm"]["fname"].value;
                        if (x == null || x == "") {
                            alert("Debe ingresar datos en el sistema de búsqueda");
                            return false                      
                        }
                        else
                            document.getElementById("mySidenav").style.width = "20%";
                            return false
                        }
                    

                    function closeNav() {
                        document.getElementById("mySidenav").style.width = "0";
                    }
                </script>

            </body>
        </html>
        <!------>

        <div class="navbar-collapse collapse">
            @Html.ActionLink("Health Point", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <ul class="nav navbar-nav">

                <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                <li>@Html.ActionLink("Carrito", "Index", "Carrito")</li>                
                <li>
                        <div ng-app="">
                            <form name="myForm" action="demo_form.asp">
                                <input name="fname" ng-model="Search" size="30" placeholder="Search">
                                <input id="submit" type="submit" onclick="return openNav()">
                            </form>
                    </body>
                </html>

            </li>


            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>

<div class="nbar" id="nbar">

    <style>

        #nbar {
            margin-left: auto;
            margin-right: auto;
            max-width: 1000px;
            background:  #333;
        }
        ul {
            list-style-type: none;
              margin-left: auto;
            margin-right: auto;
              
            padding: 0;
            overflow: hidden;
        }

        li {    margin-left: auto;
            margin-right: auto;
        }

            li a {
               
                float: left;
                display: inline;
                color: white;
                padding: 14px 16px;
                text-decoration: none;
                background-color: #333;
            }

                li a:hover {
                    background-color: #111;
                    color: white;
                    text-decoration: none;
                }
    </style>

    <ul>


        <li><a href="">Mitos y Leyendas</a></li>
        <li><a href="">Force of Will</a></li>
        <li><a href="">Magic</a></li>
        <li><a href="">Yu-Gi-Oh!</a></li>
        <li><a href="">Tierras Magicas</a></li>
        <li><a href="">Cazaurio</a></li>
        <li><a href="">Humankind</a></li>
        <li><a href="">Accesorios</a></li>




    </ul>



</div>


<div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
    </footer>
</div>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>

</html>
