<!DOCTYPE html>

<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body>
  
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Nombre de aplicación", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="navbar-left">
        <style type="text/css">
            body {
                margin:20px;
                background-image: url('../../Images/img fondo body.jpg');
            }
            li.titulonavleft {
                font-size: 30pt;
                font-family: Brush Script MT;
                list-style:none;
                
            }
            .cuerporec{
                float:left;
                background-color:aliceblue;
                font-size:15pt;
                font-family:'Comic Sans MS';
                border:solid 2px green;
                
                
            }

                .cuerporec li {
                    
                    margin: 6px;
                    border-bottom: solid 2px green;
                    padding: 5px;
                    list-style-image: url("../../Images/as-de-pica_opt.png")
                    
                    
                }
            .cuerporec a:hover{
                text-decoration:none;
                font-weight:bolder;
                color: red;
            }
            li.ultimo{
                border-bottom:none;
            }

        </style>
        
        
        <div class="cuerporec">
            
            <ul>
                <li class="titulonavleft">Secciones</li>
                <li><a href=@Href("~/Home/Index")>Inicio</a></li>
                <li><a href=@Href("~/Carrito/Index")>Carrito</a></li>
                <li><a href="#">Cartas MyL</a></li>
                <li><a href="#">Cartas Force of Will</a></li>
                <li class="ultimo"><a href="#">Otros Productos</a></li>
            </ul>
        </div>
    </div>
        
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>
    <div id="cuerpoCentral">
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>
