<!DOCTYPE html>

<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Cartones a luca</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/EstiloLayout.css" rel="stylesheet" />
    <p align="center"><a href=@Href("~/Home/Index")/><img src="~/Images/Untitled.png" width="500" height="300" alt="logo"></p>
</head>

<body>
  
    <div class="navbar navbar-inverse navbar-fixed-top nav" >
    
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  
                </button>
               
            </div>
            <div class="navbar-collapse collapse">
                @Html.ActionLink("Health Point", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <ul class="nav navbar-nav">
                
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Carrito", "Index", "Carrito")</li>
                    <li><input type="text" ng-model="búsqueda" style="font-size:15px" position="0" onsubmit="openNav()"></li>
                    
                    
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

  <div class="nbar">
    
      <style>
          
      ul {
    list-style-type: none;
    position:center;
    padding: 0;
    overflow: hidden; 
}

      
          li a{
                  
              float: left ;
              display: inline;   
              color: white;           
              padding: 14px 16px;
              text-decoration: none;       
              background-color: #333;

          }
          li a:hover {
    background-color: #111;
    color: white;
    text-decoration: none;

}
      </style>
     
      <ul >
        
         
    <li><a href="">Mitos y Leyendas</a></li>
    <li><a href="">Force of Will</a></li>
    <li><a href="">Magic</a></li>
    <li><a href="">Yu-Gi-Oh!</a></li>
    <li><a href="">Tierras Magicas</a></li>
    <li><a href="">Cazaurio</a></li>
    <li><a href="">Humankind</a></li>
    <li><a href="">Accesorios</a></li>



      
</ul>



  </div>
   
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>
    <div id="cuerpoCentral">
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>
