@model IEnumerable<TiendaCartas.Models.producto>

@{
    ViewBag.Title = "Catalogo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Catalogo</h2>

<p>
    @Html.ActionLink("Agregar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre_producto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.categoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.foto_producto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.foto_producto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_producto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.categoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stock)
        </td>
       
        <td>
            @if (item.nombre_producto.Equals("MyL")) {
                @Html.ActionLink("Editar", "Edit", new { id = item.id_producto }) |
            } 
            @if (item.nombre_producto.Equals("MyL")) {
                @Html.ActionLink("Detalle", "Details", new { id = item.id_producto }) |
            } 
            @if (item.nombre_producto.Equals("MyL")) {
                @Html.ActionLink("Eliminar", "Delete", new { id = item.id_producto })
            }
            
        </td>
    </tr>
}

</table>
